CONTACT_EMAIL='CONTACT_EMAIL'
CONTACT_PHONE='CONTACT_PHONE'
DEPARTMENT_NAME='Justice Digital'
DEPARTMENT_URL='https://mojdigital.blog.gov.uk/'
SECRET_KEY='SECRET_KEY'
SERVICE_PHASE='Alpha'
SERVICE_URL='SERVICE_URL'
MAPD_ENVIRONMENT="local"

# Redis
REDIS_URL=redis://localhost:6380/0

# Entra ID
ENTRA_ID_SKIP_AUTH=True
ENTRA_ID_CLIENT_ID=<Enter_your_client_id>
# This should be a combination of the private and public certificate if using a "Certificates" based authentication
# Otherwise this can be a string if client "Client secrets" based authentication
ENTRA_ID_CLIENT_SECRET=<Enter_your_client_secret>
# This is only needed if you are using "Certificates" based authentication
ENTRA_ID_CLIENT_SECRET_THUMBPRINT=<Enter your client secret thumbprint>
ENTRA_ID_AUTHORITY=<Enter_your_authority_url>
ENTRA_ID_REDIRECT_URI=http://localhost:8020/getAToken

# PDA
PDA_USE_MOCK_API=True
PDA_URL="https://mock-api.com"
PDA_ENVIRONMENT=<UAT, PreProd, Production>
PDA_API_KEY="mock-api-key"

# PDA-R2 local mode example:
# PDA_USE_MOCK_API=False
# PDA_URL="http://localhost:8080"
# PDA_ENVIRONMENT=local
# PDA_API_KEY="<your-local-api-key>"
