/* Import GOVUK frontend SCSS to be compiled to CSS */
@use "node_modules/govuk-frontend/dist/govuk" as *;
@forward "node_modules/@ministryofjustice/frontend/moj/all";


/* Import your custom SCSS below to be compiled into one */
@use "./back-link";


.provider-search {
	text-transform: uppercase;
}

.govuk-table__cell {
    vertical-align: middle;
}

.govuk-form-group--search {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  flex-wrap: wrap;
}

.auto-capitalise {
  text-transform: uppercase;
}

.TEST_PDAUI-cancel-btn {
  display: inline-block;
}

.referred-to-debt-recovery {
  max-width: unset;
}