{% extends "base.html" %}

{% block pageContent %}
  {{ super() }}
    <h1 class="govuk-heading-xl">Page not found</h1>

    <p class="govuk-body">If you typed the web address, check it is correct.</p>

    <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>

    <p class="govuk-body">If the web address is correct or you selected a link or a button, email <a class="govuk-link" href="mailto:TEST_PDAUI@justice.gov.uk">TEST_PDAUI@justice.gov.uk</a> to report this problem.</p>

{% endblock %}