{% extends "form.html" %}

{%- from 'govuk_frontend_jinja/components/input/macro.html' import govukInput -%}
{%- from 'components/radio_button_table.html' import govukRadioTable %}
{%- from "govuk_frontend_jinja/components/warning-text/macro.html" import govukWarningText %}
{%- from 'macros/flash_messages.html' import renderFlashMessages %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if form and form.errors %}
            {{ govukErrorSummary(wtforms_errors(form)) }}
        {% endif %}

      {{ renderFlashMessages() }}

      <h1 class="govuk-heading-xl">{{ form.title }}</h1>

      <form method="get" class="govuk-!-margin-bottom-6">
          <div class="govuk-form-group--search">
            {{ form.search() }}
            {{ govukButton({'text': 'Search', 'classes': 'govuk-button--secondary'}) }}
          </div>
      </form>

      {% if form.search_term %}
        <h2 class="govuk-heading-m">{{ form.num_results }} search {{ "result" if form.num_results == 1 else "results" }} for ‘{{ form.search_term }}’</h2>
      {% endif %}

      {# Selection form using POST #}
      {% if form.num_results > 0 %}
        <form method="post">
          {{ form.hidden_tag() }}

          {{ govukRadioTable(form.provider) }}

          <br>

          {%  block formButtons %}
              {% set submitButtonText = form.submit_button_text or "Continue" %}
              <div class="govuk-button-group">

              {{ govukButton({
                'text': submitButtonText
              }) }}
              {% if cancel_url %}
                  <a class="TEST_PDAUI-cancel-btn govuk-link govuk-link--no-visited-state" href="{{ cancel_url }}">Cancel</a>
              {% endif %}
              </div>
          {% endblock %}

        </form>
      {% endif %}
    </div>
  </div>

{% endblock %}