{% extends "form.html" %}

{%- from 'govuk_frontend_jinja/components/input/macro.html' import govukInput -%}
{%- from 'components/radio_button_table.html' import govukRadioTable %}
{%- from "govuk_frontend_jinja/components/warning-text/macro.html" import govukWarningText %}
{%- from 'macros/flash_messages.html' import renderFlashMessages %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if form and form.errors %}
            {{ govukErrorSummary(wtforms_errors(form)) }}
        {% endif %}

      {{ renderFlashMessages() }}

      <h1 class="govuk-heading-xl">{{ form.title }}</h1>

    <form method="post">
      {{ form.hidden_tag() }}
      {{ govukRadioTable(form.office) }}

      {{ govukButton({
        'text': form.submit_button_text
      }) }}
      {% if cancel_url %}
          <a class="TEST_PDAUI-cancel-btn govuk-link govuk-link--no-visited-state govuk-!-margin-top-2 govuk-!-margin-left-2" href="{{ cancel_url }}">Cancel</a>
      {% endif %}
    </form>
    </div>
  </div>

{% endblock %}