{% extends 'govuk_frontend_jinja/template.html' %}
{%  set cspNonce = csp_nonce() %}
{%  set govukRebrand = True %}

{%- from 'govuk_frontend_jinja/components/error-summary/macro.html' import govukErrorSummary-%}
{%- from 'govuk_frontend_jinja/components/phase-banner/macro.html' import govukPhaseBanner -%}
{%- from 'govuk_frontend_jinja/components/service-navigation/macro.html' import govukServiceNavigation -%}
{%- from 'components/header.html' import mojHeader %}
{%- from 'macros/flash_messages.html' import renderFlashMessages %}

{% block pageTitle %}{{config['SERVICE_NAME']}} – GOV.UK{% endblock %}

{% block head %}
  <meta name="description" content="{{config['SERVICE_NAME']}}">
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" nonce="{{ csp_nonce() }}" />
  <!-- Google Tag Manager - to be moved after cookie banner implementation -->
  <script nonce="{{ csp_nonce() }}">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WF3Z86T4');</script>
  <!-- End Google Tag Manager -->
{% endblock %}

{% block header %}
  {# Pass the user into the header here once we have an authenticated user. #}
  {{ mojHeader(user=current_user) }}

  {{ govukServiceNavigation({
    'serviceName': config['SERVICE_NAME'],
    'serviceUrl': url_for('main.providers') if current_user else url_for('main.index')
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    'tag': {
      'text': config['SERVICE_PHASE'],
    },
    'html': 'This is a new service. Send your feedback to <a class="govuk-link" href="mailto:TEST_PDAUI@justice.gov.uk">TEST_PDAUI@justice.gov.uk</a> to help us improve it.'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="{{ grid_column_class|default('govuk-grid-column-two-thirds') }}">
      {% if form and form.errors %}
        {{ govukErrorSummary(wtforms_errors(form)) }}
      {% endif %}

      {{ renderFlashMessages() }}

      {% block pageContent %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    'meta': {
      'items': [],
      'html': 'Built by <a href="' + config['DEPARTMENT_URL'] +'" class="govuk-footer__link">' + config['DEPARTMENT_NAME'] + '</a>'
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="{{ url_for('static', filename='scripts.js') }}" nonce="{{ csp_nonce() }}"></script>
{% endblock %}