{% extends 'view-provider.html' %}
{% from 'macros/contact_tables.html' import contactCards %}
{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{% from "govuk_frontend_jinja/components/warning-text/macro.html" import govukWarningText %}

{% block beforeContent %}
  {% if parent_provider %}
    {{ govukBreadcrumbs({
      "items": [
        {
          "text": parent_provider.firm_name,
          "href": url_for("main.view_provider", firm=parent_provider)
        },
        {
          "text": firm.firm_name,
          "href": url_for("main.view_provider", firm=firm)
        }]
    }) }}
  {% else %}
    {# Fallback if no Firm has no associated Chambers #}
    {{ govukBackLink({"text": "Back to all providers", "href": url_for("main.providers") }) }}
  {% endif %}
{% endblock %}

{% block firmTypeSubNavigation %}
	{{ mojSubNavigation({
    "label": "Sub navigation",
    "items": [{
      "text": "Contact",
      "href": url_for("main.view_provider_contact", firm=firm),
      "active": subpage == "contact"
    }, {
      "text": "Bank accounts and payment",
      "href": url_for("main.view_provider_bank_accounts_payment", firm=firm),
      "active": subpage == "bank-accounts-payment"
    }]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if subpage == "contact" %}

        {% if chambers_contact_details_table %}
          <h3 class="govuk-heading-m">Chambers contact details</h3>
          {{ govukTable(chambers_contact_details_table.to_govuk_params()) }}
        {% endif %}

        {% if contact_details_table %}
          <h3 class="govuk-heading-m">Contact details</h3>
          {{ govukTable(contact_details_table.to_govuk_params()) }}
        {% endif %}
        {{ contactCards(contact_tables) }}
      {% endif %}
      
      {% if subpage == "bank-accounts-payment" %}
        {% if head_office %}
          <h2 class="govuk-heading-m">Payment information</h2>
          {{ govukSummaryList(payment_information_table.to_summary_govuk_params()) }}

          <h2 class="govuk-heading-m">VAT registration number</h2>
          {{ govukSummaryList(vat_registration_table.to_summary_govuk_params()) }}

          <h2 class="govuk-heading-m">Bank accounts</h2>
          {% if bank_account_tables %}
              {{ contactCards(bank_account_tables, title=None, previous_label="Previous bank accounts") }}
          {% else %}
              {{ govukButton({
                  "text": "Add bank account",
                  "href": add_new_bank_account_url
              }) }}
          {% endif %}
        {% else %}
          {{ govukWarningText({"text": "Bank account information not available. Contact TEST_PDAUI@justice.gov.uk for more information."}) }}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}